data
.env
__pycache__
.idea
.DS_Store

*.log
judger/*.txt

*.err
*.res
*.rpt

*.iml
*.xml
*.sconfig
backend/venv/
backend/temp/
backend/root/records
backend/pycharm_runner
backend/test
node_modules
__pycache__
backend/root/
env_config.py
.DS_Store
*.pyc
tradiJudger
scriptJudger
htmlJudger
executor
*.o
